# mujoco artifacts
*MUJOCO_LOG*

# virtual environment
.venv/

# vscode files
.vscode/

# python artifacts
__pycache__/

# os specific files
.DS_Store

# generated acados code
c_generated_code/

# utils for lamda-quad
.lambda-quad/