deps/
*.lock

# mujoco artifacts
*MUJOCO_LOG*

# virtual environment
.venv/

# vscode files
.vscode/

# python artifacts
__pycache__/

# os specific files
.DS_Store

# generated acados code
c_generated_code/

# specific files
*.pkl
*.pdf
*.png
*.jpg
*.svg

# video files
*.mp4
*.gif
videos/

# utils for lamda-quad
.lambda-quad/

# logs
*.pkl
logs/

# external libraries during development
external/
