# If you update this file, you may also need to change pyproject.toml accordingly
casadi==3.6.4
numpy==1.26
pyyaml==6.0.1
mujoco==3.1.5
mujoco-mjx==3.1.5
brax==0.10.5
glfw==2.7.0 # Needed to use MuJoCo in the container
opencv-python==4.10.0.82
scipy="1.13.0"
control="0.10.0"
# jax[cuda12]==0.4.30 # Installed by Dockerfile directly